{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block content %}
    {% if event.getId() %}
        <form action="{{ path('events.destroy', {id: event.id}) }}"
              method="post"
              id="delete_form"></form>
    {% endif %}
    <form action="{{ event.id ? path('events.update', {id: event.id}) : path('events.insert') }}"
          method="post"
          id="edit_form">
        <div class="form-group">
            <label for="title">
                {{ 'Event Title'|trans }}
            </label>
            <input type="text"
                   class="form-control"
                   id="event_title"
                   name="title"
                   required
                   placeholder="{{ 'Event Title'|trans }}"
                   value="{{ event.title }}"/>
        </div>

        <div class="form-group">
            <label for="description">
                {{ 'Event Description'|trans }}
            </label>
            <textarea class="form-control"
                      id="event_description"
                      name="description"
                      rows="3">{{ event.description }}</textarea>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label for="event_beginDate">
                    {{ 'Begin Date'|trans }}
                </label>
                <input type="datetime-local"
                       class="form-control"
                       id="event_beginDate"
                       name="beginDate"
                       required
                       value="{{ event.beginDate|date('Y-m-d H:i') }}"/>

            </div>
            <div class="col">
                <label for="event_endDate">
                    {{ 'End Date'|trans }}
                </label>
                <input type="datetime-local"
                       class="form-control"
                       id="event_endDate"
                       name="endDate"
                       required
                       value="{{ event.endDate|date('Y-m-d H:i') }}"/>
            </div>
        </div>
    </form>

    <div class="form-group mt-3 row">
        <div class="col">
            <button type="submit" class="btn btn-primary" form="edit_form">
                {{ 'Submit'|trans }}
            </button>
        </div>

        {% if event.getId() %}
            <div class="col">
                <button type="submit" class="btn btn-danger float-end" form="delete_form">
                    {{ 'Destroy'|trans }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
